
table{
    border-style:style;
    width: 100%;

}
body{
    background-color: rgb(156, 185, 185)
}

  p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

h3 {
  float: center;
  }

title {width: 100%; display: block;}
title :hover {opacity: 0.5;}
title {
  width: 500px;
  height: 100px;
  margin: 0 auto;
  
}

title {
	
	font-size:75px;
	font-family:de valencia;
	
 -webkit-text-fill-color: rgb(242, 245, 91);
 text-shadow: #EEEE00 0 0 10px, rgba(255, 174, 0, 0.719) 5px 5px 5px;
} 

img {
    border: 4px dotted blue;
  }

p {
	
	font-size:35px;
	font-family:frente h1;
	
 -webkit-text-fill-color: rgb(22, 22, 21);
 
} 

h3 {
    font: size 30px;
    font-family:frente h1;
    -webkit-text-fill-color: rgb(15, 31, 104); 
}

li {
    font-size: 20px;
    font-family:frente h1;
    -webkit-text-fill-color: rgb(0, 0, 0); 
}

div {
    font-size: 20px;
    font-family:frente h1;
    -webkit-text-fill-color: rgb(235, 202, 57); 
    text-shadow: rgb(14, 14, 13) 0 0 10px, rgba(44, 44, 43, 0.719) 5px 5px 5px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    float: center;
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
} 


