
table{
    border-collapse:collapse;
    width: 100%;

}
.dark{
    background-color: rgb(76, 76, 76)
}
.lighter{
    background-color:grey
    
}
.light{
    background-color:lightgrey

}

table, td {
    border: 1px solid black;

}
td{
    width:80px;
text-align:center;
}
#darker{
    background-color:rgb(93, 93, 93)
}

.topnav{
    overflow: hidden;
    font-size:14px;
    background-color:aqua;
    text-align:center;

}
topnav input[type=text]{
    float: right;
    padding: 8px;
    border: none;
    margin-top: 14px;
    margin-right: 16px;
    font-size: 17px;
}
.topnav a{
    text-align: center;
    color:black;
    float:left;
    font-size:17px;
    display:block;
    padding:14px 16px;
    background-color:aqua

}

.topnav a:hover{
    background-color:darkcyan;
    padding:14px 16px;
   
    
}
h1{
    text-align:center;
    animation-duration:2s;
    animation-name:slidein;
    animation-direction:normal;
    position:relative;
}
h2{
    text-align:center;
    animation-duration:2s;
    animation-name:pop;
    animation-direction:normal;
    position:relative;
}
@keyframes pop{
    from{
        left:100%;
        width:300%;
    }
   to {
       left:100%;
    width:300%;

    }
}

@keyframes slidein{
    from{
        left: 100%;
        width:300%;

    }
    to{
        left:0%;
        width:300;
    

    }
    
}




div{
    text-align:center;
<<<<<<< HEAD
=======

>>>>>>> 09c088c553afea4ffb133399e99e9b81aa661d9e
}

.chatFunction{
    text-align:left;
    border-bottom-style: dotted;
    border-bottom-color: rgb(185, 236, 232);
}
.nameFunction{
    text-align:right;
    
}
#messages{
    border-style: dotted;
    width: 400px;
    height: 500px;
    border-color: rgb(124, 167, 167);
}

#chatRoom{

    background-color: rgb(196, 233, 220);
}

#chatzee{
    text-align:left;
    animation: vibrate 2s infinite;
}

@keyframes vibrate{
    
    0%{color: rgb(0, 0, 10)};
    20%{color: rgb(87, 130, 138)}
    40%{color: rgb(100, 60, 61)}
    60%{color: rgb(120, 85, 87)}
    80%{color: rgb(100, 60, 61)}
    100%{color: rgb(27, 39, 41)}

}