
table{
    border-collapse:collapse;
    width: 100%;

}
.dark{
    background-color: rgb(76, 76, 76)
}
.lighter{
    background-color:grey
    
}
.light{
    background-color:lightgrey

}

table, td {
    border: 1px solid black;

}
td, input{
    width:80px;
text-align:center;
}
#darker{
    background-color:rgb(93, 93, 93)
}
div{

text-align: center;
}

